<h1>Choose A Stylist and add her Clients</h1>

  <form action="/clients" method="post">
    <label for="stylist_id">Select a Stylist</label>
    <select id='stylist_id' name='stylist_id' type='text'>
      <% @stylists.each() do |stylist| %>
        <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
      <% end %>
    </select>

    <label for="name">Name of the client:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add a client</button>
  </form>

  <hr>

<a href="/"><button class="button btn">Return Home</button></a>