<h1>Welcome to the To Do App</h1>

<hr>

  <div class="container">
    <a href="/add"><button class="button btn">Add a task to existing list</button></a>
    <a href="/lists"><button class="button btn">View All Lists</button></a>
    <a href="/lists/new"><button class="button btn">Add New List</button></a>
  </div