<h1>Your Current Lists</h1>

<hr>

  <% if @lists.any?() %>
    <h3>Here are your lists:</h3>

    <ul>
      <% @lists.each() do |list| %>
        <li><a href="/lists/<%= list.id()%>"><%= list.name() %></a> </li>
        <p><a href="/lists/<%= list.id() %>/edit"><button class="button btn"> Edit <%= list.name() %> list</button></a></p>
      <% end %>
    </ul>

  <% else %>

      <p>There are no lists yet!</p>

  <% end %>

  <hr>

  <a href="/"><button class="button btn">Return Home</button></a>
  <a href="/lists/new"><button class="button btn">Add New List without task</button></a>
  <a href="/add"><button class="button btn">Add a task to existing list</button></a>